body {
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    color: #493a26;
    background-color: #EEEEEE;
}

header a, a:visited {
    color: #493a26;
    text-decoration: none;
}

footer {
    text-align: center;
}

footer div.home  a, a:visited {
    color: #493a26;
    text-decoration: none;
}

div.container {
    width: 800px;
    margin: 0 auto;
}

h3 {
    font-weight:normal;
}

h2, h3 {
    border-bottom: solid 1px #493a26;
}

ul.item-list {
    padding-left: 0;
}

li.item {
    list-style: none;
    margin: 2em 0 5em 0;
}

div.item-header, article .entry-date, article .entry-category {
    font-size: 0.8em;
}

div.item-title, article .entry-title {
    font-size: 1.8em;
    margin-top: 0;
}

div.item-title a, a:visited {
    color: #493a26;
    text-decoration: none;
}

div.item-summary, article .entry-content {
    margin: 0 1em;
}

div.item-footer {
    text-align: right;
    margin: 0 1em;
}

div.item-footer a, a:visited {
    color: #493a26;
    text-decoration: none;
}

article .entry-category a, a:visited {
    color: #493a26;
    text-decoration: underline;
}

twitter-widget {
    margin: 0 auto;
}