<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
</head>

<body>
  <div class="container">
    <header>
      <a href="{{ .Site.BaseURL }}">
        <h1>学習用</h1>
      </a>
    </header>

    <main>